
<script language="javascript">
  tt_cancel_destination = '/select_user_task?user_id=<%= (params[:user_id] ||
    params[:id]) %>&location_id=<%= params[:location_id] %>';
  tt_cancel_show = '/select_user_task?user_id=<%= (params[:user_id] ||
    params[:id]) %>&location_id=<%= params[:location_id] %>';

  function confirmDeletion(message, link) {
    if (!tstMessageBar) {

      var tstMessageBar = document.createElement("div");
      tstMessageBar.id = "messageBar";
      tstMessageBar.className = "messageBar";

      tstMessageBar.innerHTML = message + "<br/>" +
        "<button onmousedown=\"document.getElementById('content').removeChild(document.getElementById('messageBar')); " +
        "window.location='" + link + "';\"><span>Yes</span></button><button onmousedown=\"document.getElementById('content').removeChild(document.getElementById('messageBar'));\"><span>No</span></button>";

      tstMessageBar.style.display = "block";
      document.getElementById("content").appendChild(tstMessageBar);
    }

    return false;

  }

</script>

<table width="100%" style="margin: 0px;" border="0" cellspacing="0">
  <tr>
    <td style="font-size: 2.3em; background-color: #6281A7; color: #eee; padding: 15px; text-align: center;">
      Billing Product Types
    </td>
  </tr>
  <tr>
    <td style="background-color: #ccc; padding: 5px;">
      <div style="height: 36.2em; background-color: #fff; overflow: auto; padding: 5px;">

        <div style="display: table; width: 100%; border-spacing: 2px;">
          <div style="display: table-row; background-color: #999; color: #eee;">
            <div style="display: table-cell; border: 1px solid #ccc; padding: 5px;
                 text-align: center; font-weight: bold;">
              #
            </div>
            <div style="display: table-cell; border: 1px solid #ccc; padding: 5px;
                 text-align: center; font-weight: bold;">
              Product Type Name
            </div>
           

          </div>

          <% i = 0 %>
          <% @product_types.each do |product_type| %>

            <% i = i + 1 %>

            <div style="display: table-row;">
              <div style="display: table-cell; border-left: 1px dotted #ccc; border-bottom: 1px dotted #ccc;
                   border-right: 1px dotted #ccc; padding: 5px; text-align: center; vertical-align: middle; padding-top: 20px;">
                   <%= i %>
              </div>
              <div style="display: table-cell; border-left: 1px dotted #ccc; border-bottom: 1px dotted #ccc;
                   border-right: 1px dotted #ccc; padding: 5px; text-align: left; vertical-align: top; padding-top: 20px;">
                  <table width="100%">
                  <tr>
                    <td>
                      <table width="100%">
                          <tr>
                            <td>
                              <%= product_type.name %>
                            </td>
                            <td align="right">

                              <img src="/touchscreentoolkit/lib/images/pencil.png" alt="edit"
                             style="margin: 5px; border: 1px dotted #efe; padding: 5px;
                             padding-left: 5px; padding-right: 5px; cursor: pointer;"
                             onclick="window.location='/edit_product_type?target_id=<%= product_type.product_type_id %>&user_id=<%= params[:user_id] %>&location_id=<%=
                             params[:location_id] %><%= (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>'" />

                            </td>
                          </tr>
                      </table>
                    </td>
                    <td align="right" style="width: 30px; vertical-align: top;">
                        <img src="/touchscreentoolkit/lib/images/cancel_flat_small_red.png" alt="delete"
                                     style="margin: 5px; border: 1px dotted #efe; padding: 10px;"
                                     onclick="confirmDeletion('Are you sure you want <br/>to delete <%= product_type.name %> ?',
                                             '/void_product_type?target_id=<%= product_type.product_type_id %>&user_id=<%= params[:user_id] %>&location_id=<%=
                                     params[:location_id] %><%= (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>')"/>

                    </td>
                  </tr>
                </table>
              </div>
              
            </div>

          <% end %>

        </div>

      </div>
    </td>
  </tr>
  <tr>
    <td style="background-color: #333;">
      <div style="height: 4.8em;">

        <button class="green" style="float: right; margin: 8px; width: 150px; margin-right: 20px;"
                onclick="window.location='<%= @destination %>'">
          <span>
            Finish
          </span>
        </button>
        <button class="blue" style="float: right; margin: 8px; width: 200px; margin-right: 20px;"
                onclick="window.location='/new_product_type?user_id=<%= params[:user_id]
              %>&location_id=<%= params[:location_id] %><%= (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>'">
          <span>
            Add Product Type
          </span>
        </button>
      </div>
    </td>
  </tr>
</table>