New Category
-
<% form_for(@billing_category) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :creator, :value => @user.id %>
  <p>	
  	<%= f.label :department_id %><br/>
	<% departments_array = BillingDepartment.all.map { |department| [department.name, department.department_id] } %>
	<%= options_for_select(departments_array) %>
	<%= f.select(:department_id, options_for_select(departments_array), type => 'text') %>

  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
