<style type="text/css">
  .long .options {
    height: 22em !important;
  }
</style>

<script language="javascript">
  tt_cancel_destination = '/add_to_cart?patient_id=<%= params[:patient_id] %>&user_id=<%= params[:user_id] %>&location_id=<%=
params[:location_id] + (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>';
  tt_cancel_show = '/add_to_cart?patient_id=<%= params[:patient_id] %>&location_id=<%=
params[:location_id] + (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>';
</script>

<form action="/add_to_cart" method='post'>

  <label for="department">Category</label>
  <%= select_tag(:category_id, options_for_select(@categories, params[:category_id]),
    :helpText => "Select Category") %>

  <%= hidden_field_tag "user_id", "#{params[:id] || params[:user_id]}" %>

  <%= hidden_field_tag "location_id", "#{params[:location_id]}" %>

  <%= hidden_field_tag "patient_id", "#{params[:patient_id]}" %>

  <%= hidden_field_tag "department_id", "#{params[:department_id]}" %>
  
  <%= hidden_field_tag "department_name", "#{params[:department_name]}" %>

  <% if !params[:src].nil? %>
    <%= hidden_field_tag "src", "#{params[:src]}" %>
  <% end %>

  <%= submit_tag value ="Submit"%>

</form>