New Price
-
<% form_for(@billing_service) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :creator, :value => @user.id %>

  <p>	
  	<%= f.label :product_id %><br/>
	<% products_array = BillingProduct.all.map { |product| [product.product_id, product.product_id] } %>
	<%= options_for_select(products_array) %>
	<%= f.select(:service_id, options_for_select(products_array), type => 'text') %>
  </p>
  
  <p>	
  	<%= f.label :price_type %><br/>
    <%= f.text_field :price_type %>
  </p>
  <p>	
  	<%= f.label :price %><br/>
    <%= f.text_field :price %>
  </p>
  
   
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
