<style type="text/css">
  .long .options {
    height: 22em !important;
  }
</style>

<script language="javascript">
  tt_cancel_destination = '/add_to_cart?patient_id=<%= params[:patient_id] %>&user_id=<%= params[:user_id] %>&location_id=<%=
params[:location_id] + (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>';
  tt_cancel_show = '/add_to_cart?patient_id=<%= params[:patient_id] %>&location_id=<%=
params[:location_id] + (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>';

  function getdepartment(){
    department = "<%=params[:department_name]%>";
    return department;
  }


</script>

<form action="/add_to_cart" method='post'>

  <label for="category_id">Select Service</label>
  <%= select_tag(:product_id, options_for_select(@products),
    :helpText => "Select Service") %>
  
  <label for="name">Enter Quantity</label>
  <%= text_field_tag(:quantity, 1, :helpText => "Enter quantity",:field_type => 'number', :condition => "getdepartment() == 'Pharmacy'") %>

  <%= text_field_tag "admitted_date", nil,
    {:id => "admitted_date",
     :field_type => 'date',
     :condition => "getdepartment() == 'Inpatient'",
     :helpText => "Admitted Date"} %>

  <%= text_field_tag "discharge_date", nil,
    {:id => "discharge_date",
     :field_type => 'date',
     :condition => "getdepartment() == 'Inpatient'",
     :helpText => "Discharge Date"} %>

  <%= hidden_field_tag "user_id", (params[:id] || params[:user_id]) %>

  <%= hidden_field_tag "location_id", params[:location_id] %>

  <%= hidden_field_tag "patient_id",  params[:patient_id] %>

  <% if !params[:src].nil? %>
    <%= hidden_field_tag "src", "#{params[:src]}" %>
  <% end %>

  <%= submit_tag value ="Submit"%>

</form>