<style type="text/css">
  .long .options {
    height: 22em !important;
  }
</style>

<script language="javascript">
  tt_cancel_destination = '/show_categories?user_id=<%= params[:user_id] %>&location_id=<%=
params[:location_id] + (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>';
  tt_cancel_show = '/show_categories?user_id=<%= params[:user_id] %>&location_id=<%=
params[:location_id] + (!params[:src].nil? ? "&src=#{params[:src]}" : "") %>';
</script>

<form action="/create_account" method='post'>

  <label for="payment_method">Payment Method</label>
  <%= select_tag(:payment_method, options_for_select(@payment_methods_map,@payment_method),
    :helpText => "Select Payment Method") %>

  <%= select_tag(:medical_scheme, options_for_select(@medical_schemes_map),
    {:helpText => "Select Medical Scheme",
     :condition => '$("payment_method").value == "Medical Scheme"'})%>

  <%= select_tag(:medical_scheme, options_for_select(@company_schemes_map),
    {:helpText => "Select Medical Scheme",
     :condition => '$("payment_method").value == "Company Agreement"'})%>

  <%= select_tag(:medical_scheme, options_for_select(@referral_schemes_map),
    {:helpText => "Select Hospital",
     :condition => '$("payment_method").value == "Government Referral"'})%>

  <%= select_tag(:medical_scheme, options_for_select(@clinic_schemes_map),
    {:helpText => "Select Clinic",
     :condition => '$("payment_method").value == "Private Clinic Referral"'})%>

  <%= select_tag(:medical_scheme, options_for_select(@referral_schemes_map),
    {:helpText => "Select Hospital",
     :condition => '$("payment_method").value == "Staff"'})%>
  
  <%= select_tag(:price_type, options_for_select(@price_type_map,@price_type),
    {:helpText => "Select Price Type"})%>

  <%= hidden_field_tag "user_id", "#{@user_id}" %>

  <%= hidden_field_tag "location_id", "#{@location_id}" %>

  <%= hidden_field_tag "patient_id", "#{@patient_id}" %>

  <% if !params[:src].nil? %>
    <%= hidden_field_tag "src", "#{params[:src]}" %>
  <% end %>

  <%= submit_tag value ="Submit"%>

</form>